/*a stylesheet by lewis bentley 1 april 2020*/


/* ----------------------------------------------- */
/* MIN WIDTH                                       */
/* ----------------------------------------------- */

@media (min-width: 500px) {
  /*  hamburger icon*/
  .modal__open {
    display: none;
  }
  /*index*/
  .index-flex-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .index-flex-content .flex-content-1 {
    width: 48.5%;
  }
  .index-flex-content .flex-content-2 {
    width: 48.5%;
  }
  .btn {
    display: block;
    width: 50%;
    margin: auto;
  }
  /*cv text and picture*/
  .cv-flex-content {
    flex-direction: row;
  }
  .flex-cv-1 {
    width: 50%;
    margin-top: 12%;
  }
  .flex-cv-2 {
    width: 50%;
  }
}

/* ----------------------------------------------- */
/* MAX WIDTH                                       */
/* ----------------------------------------------- */

@media (max-width: 500px) {
   /*cv tables*/
  .flex-cv-3 {
    display: none;
  }
  /*hide icons and nav*/
  .logo-icons {
    display: none;
  }
  .social-icons {
    display: none;
  }
  nav {
    display: none;
  }
  /*cv table*/
  .flex-cv-3 {
    display: none;
  }
}