/*a stylesheet by lewis bentley 25 march 2020*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #606060;
    margin: 0;
    padding: 0;
}

a, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

p {
  margin: 0;
}

.btn {
    display: inline-block;
    border: 5px solid #71589b;
    background-color: #71589b;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.1s linear;
    outline: none;
    padding: 10px;
    font: 600 16px/1 "Work Sans", sans-serif;
}

.btn:hover {
    color: #71589b;
    background-color: #ffffff;
}

.modal__open {
    display: inline-block;
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    right: 5%;
    cursor: pointer;
}

.modal__open:before {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url(../assets/images/icons/purple-burger-2.png);
    background-size: 100% 100%;
}

svg:hover {
  color: red;
}

.ovh {
  overflow: hidden;
}

img {
  width: 100%;
}

.text-light {
  opacity: 0.7;
}

/* home-hero.html */

.hero-container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 5%;
  overflow-wrap: break-word;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  letter-spacing: 2px;
}

.hero-h1 {
  font-weight: 500;
  font-size: 55px;
}

.hero-h2 {
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.1em;
}

.hero-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
}

.logo-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 150px;
  width: 300px;
}

.logo-icons a {
  width: 20%;
  height: 100%;
  margin-right: 10px;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 150px;
  width: 215px;
}

.social-icons a {
  width: 20%;
  height: auto;
}

.fill {
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fill-logo-1 {
  background-image: url('/assets/images/icons/spotlight-logo.jpg');
}
.fill-logo-2 {
  background-image: url('/assets/images/icons/the-mandy-network-logo.svg'); 
}
.fill-logo-3 {
  background-image: url('/assets/images/icons/vjm.jpg');
}
.fill-logo-4 {
  background-image: url('/assets/images/icons/equity-logo.jpg');
}

.fill-social-1 {
  background-image: url('/assets/images/icons/fbook-logo.png');
}
.fill-social-2 {
  background-image: url('/assets/images/icons/twitter-logo.png');
}
.fill-social-3 {
  background-image: url('/assets/images/icons/insta-logo.png');
}
.fill-social-4 {
  background-image: url('/assets/images/icons/vimeo-logo.png');
}

.flex-content-1 div {
  margin-top: 20px;
}

.flex-content-2 p:first-of-type {
  margin-bottom: 25px;
}

.logo-icons-mobile {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.social-icons-mobile {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.logo-icons-mobile a {
  width: 25%;
}

.social-icons-mobile a {
  width: 25%;
}

/*nav bar*/

nav {
  display: block;
  width: 100%;
  margin: auto auto 20px auto;
}
nav ul {
  display: block;
  margin: auto; 
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: #1d1d1d;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
nav ul li {
  display: inline-block;
  min-width: 24%;
  width: 24%;
  opacity: 0.8;
}

nav ul li table {
  margin: 0 auto;
}

nav ul li table tr td:after {
    display:block;
    content: '';
    border-bottom: 5px solid #71589b;
    transform: scaleX(0);  
    transition: transform 125ms ease-in-out;
}
nav ul li table tr td:hover:after {
    transform: scaleX(1);
}


/* index.html */

.body-container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 5%;
}

.index-flex-content {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.flex-content-2 {
  display: flex;
  flex-direction: column;
}

.index-video {
  margin: auto 0 4px 0;
}

.font_23 {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  letter-spacing: 0.1em;
  border-bottom: 7px solid #71589b;
  padding: 0 0 3px;
}

.font_21 {
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  font-weight: bold
}

.font_15 {
  font-size: 15px;
}

.font_12 {
  font: normal normal normal 15px/1.3em 'Open Sans',sans-serif;
}

.text_centre {
  text-align: center;
}

/*post-content.html*/

.post-title {
  padding-top: 10px;
}

/*contact.html*/

.flex-contact-container {
  display: flex;
  justify-content: center;
}

.flex-contact-left {
  width: 50%;
  padding: 5%;
}

.flex-contact-4 {
  width: 50%;
}

.flex-contact-1 p:last-of-type {
  padding: 0 0 40px 0;
}

.flex-contact-1 p:first-of-type {
  padding: 25px 0 0 0;
}


.border_img {
  border: 6px solid #71589b;
}

.flex_img_extra_padding {
  padding: 40px 5% 40px 5%;
}

.contact-form table:first-of-type {
  margin: 0 0 5px 0;
}

/*contact form*/

input {
  width: 100%;
  padding: 8px;
  border: 2px solid #71589b;
}

input::placeholder {
  opacity: .5;
}

label {
  display: none;
}

.form-example {
  margin: 0 0 20px 0;
}

form div:last-child {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

form div:last-child input {
  width: 100px;
  background-color: #71589b;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s linear;
  outline: none;
}

form div:last-child input:hover {
  color: #71589b;
  background-color: #ffffff;
}

.contact-form form div:nth-child(4) input {
  padding: 8px 8px 88px 8px;
}

/*cv*/

.cv-flex-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.flex-cv-1 img {
  width: 75%;
  padding: 0 0 20px 20%;
}

.flex-cv-1 table:last-of-type {
  padding: 0 0 60px 0;
}

.flex-cv-3 table {
  width: 100%;
  table-layout: fixed;
  margin: 5px 0 40px 0;
  font-size: 15px;
}

.cv-pdf-flex {
  width: 100%;
  display: flex;
}

.cv-pdf-flex p {
  width: 55%;
}

 a #pdf-icon {
  width: 50px;
  padding: 0
}

.flex-contact-1 img {
  display: none;
}

.flex-cv-1 > p {
  margin-bottom: 20px;
}

/*media*/

.flex-media-1 table {
  margin: 0 auto 20px auto;
}

.flex-media-1 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.flex-media-1 li {
  list-style: none;
  width: 40%;
  padding: 0 0 18px 0;
}

.flex-media-1 li:nth-child(odd) {
  margin: 0 3% 0 6.7%;
}

.flex-media-1 li:nth-child(even) {
  margin: 0 6.7% 0 3%;
}

.list-videos li {
  list-style: none;
  width: 80%;
}

.list-videos li:nth-child(odd) {
  margin: 0 auto;
}

.list-videos li:nth-child(even) {
  margin: 0 auto;
}

/*modal*/

.modal {
  width: 100.01vw;
  height: 100.01vh;
  background-color: #71589b;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.modal--show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s linear;
}

.modal__scroll {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.modal__container {
  margin: 0 auto;
  padding: 0 10px;
  padding: 20px;
}

.modal__close {
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  right: 7%;
  cursor: pointer;
}

.modal__close:before {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../assets/images/icons/close.svg);
  background-size: 100% 100%;
}

.modal__container {
  width: 65%;
}

.modal__links a:first-of-type {
  margin-top: 70px;
}

.modal__links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  opacity: .7;
  letter-spacing: 0.05em;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid #fff;
}

.modal__links a:last-of-type {
  border-bottom: none;
}

/*iframes*/

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}

/* copyright container */

.copyright-container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 8px;
  color: #adadad;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}