  <!-- Modal -->
  <section class="modal">
      <div class="modal__scroll">
          <div class="container modal__container">
              <i class="modal__close"></i>

              <div class="modal__links">

                  <a href="#">Home</a>
                  <a href="#">CV</a>
                  <a href="#">Media</a>
                  <a href="#">Contact</a>

              </div>

          </div>
      </div>
  </section>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="../assets/scripts/modal.js"></script>


  </body>
</html>