<head>

  <!-- Meta -->
  <meta charset="utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{{ site.title }}</title>

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans|Work+Sans:500,600,800|Raleway:400,500,600,700&display=swap" rel="stylesheet">

  <!--   Styles -->
  <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/normalize.css' | prepend: site.baseurl }}">

</head>