<div class="hero-container">

  <i class="modal__open"></i>

  <header class="hero-header">

    <div class="title-left">

      {% if site.title != '' %}
        <h1 class="hero-title hero-h1"><a href="{{ '/index.html' | prepend: site.baseurl}}">{{site.title}}</a></h1>
      {% endif %}

      {% if site.subtitle != '' %}
        <h2  class="hero-title hero-h2"><a href="#">{{site.subtitle}}</a></h1>
      {% endif %}

    </div>
      
      <div class="logo-icons">
        
        <div class="fill fill-logo-1"></div>
        
        <div class="fill fill-logo-2"></div>
        
        <div class="fill fill-logo-3"></div>
        
        <div class="fill fill-logo-4"></div>

      </div>

      <div class="social-icons">

        <div class="fill fill-social-1"></div>

        <div class="fill fill-social-2"></div>

        <div class="fill fill-social-3"></div>

        <div class="fill fill-social-4"></div>
        
      </div>

  </header>

  <nav>
    <ul>
      <li><a href="{{ '/index.html' | prepend: site.baseurl }}">Home</a></li>
      <li><a href="{{ '/cv.html' | prepend: site.baseurl }}">CV</a></li>
      <li><a href="{{ '/media.html' | prepend: site.baseurl }}">Media</a></li>
      <li><a href="{{ '/contact.html' | prepend: site.baseurl }}">Contact</a></li>
    </ul>
  </nav>
  
</div>