<div class="hero-container">

  <i class="modal__open"></i>

  <header class="hero-header">

    <div class="title-left">

      {% if site.title != '' %}
        <h1 class="hero-title hero-h1"><a href="{{ '/index.html' | prepend: site.baseurl}}">{{site.title}}</a></h1>
      {% endif %}

      {% if site.subtitle != '' %}
        <h2  class="hero-title hero-h2"><a href="#">{{site.subtitle}}</a></h1>
      {% endif %}

    </div>

    <div class="title-right">
      
      <div class="logo-icons">
        
        <div class="fill fill-1"><img rc="{{ '/assets/images/icons/spotlight-logo.jpg' | prepend: site.baseurl }}"></div>
        
        <div class="fill fill-2"><img rc="{{ '/assets/images/icons/the-mandy-network-logo.svg' | prepend: site.baseurl }}"></div>
        
        <div class="fill fill-3"><img rc="{{ '/assets/images/icons/vjm-logo.jpg' | prepend: site.baseurl }}"></div>
        
        <div class="fill fill-4"><img rc="{{ '/assets/images/icons/equity-logo.jpg' | prepend: site.baseurl }}"></div>

      </div>

      <div class="social-icons">
        
      </div>

    </div>

  </header>
  
</div>