<div class="hero-container">

  <i class="modal__open"></i>

  <header class="hero-header">

    <div class="title-left">

      {% if site.title != '' %}
        <h1 class="hero-title hero-h1"><a href="{{ '/index.html' | prepend: site.baseurl}}">{{site.title}}</a></h1>
      {% endif %}

      {% if site.subtitle != '' %}
        <h2  class="hero-title hero-h2"><a href="#">{{site.subtitle}}</a></h1>
      {% endif %}

    </div>
      
      <div class="logo-icons">
        
        <a class="fill" href="http://www.spotlight.com/4218-8948-9534" style="background-image: url('{{'/assets/images/icons/spotlight-logo.jpg' | prepend: site.baseurl}}');"></a>
        
        <a class="fill fill-logo-2" href="https://www.mandy.com/actor/profile/paul-valentine"></a>
        
        <a class="fill fill-logo-3" href="http://www.vjmgt.co.uk/"></a>
        
        <a class="fill fill-logo-4" href="https://www.equity.org.uk/looking-for-work/member-profiles/paul-valentine-actor/"></a>

      </div>

      <div class="social-icons">

        <a class="fill fill-social-1" href="http://www.facebook.com/paul.valentine2"></a>

        <a class="fill fill-social-2" href="http://www.twitter.com/PaulValentine"></a>

        <a class="fill fill-social-3" href="https://www.instagram.com/paulvalentine87/"></a>

        <a class="fill fill-social-4" href="https://vimeo.com/paulvalentine"></a>
        
      </div>

  </header>

  <nav>
    <ul class="text_centre">
      <li>
        <table><tr><td><a {% if page.current == 'home' %}style="border-bottom: 5px solid #71589b;"{% endif %}href="{{ '/index.html' | prepend: site.baseurl }}">Home</a></td></tr></table>
      </li>
      <li>
        <table><tr><td><a {% if page.current == 'cv' %}style="border-bottom: 5px solid #71589b;"{% endif %} href="{{ '/cv.html' | prepend: site.baseurl }}">CV</a></td></tr></table>
      </li>
      <li>
        <table><tr><td><a {% if page.current == 'media' %}style="border-bottom: 5px solid #71589b;"{% endif %} href="{{ '/media.html' | prepend: site.baseurl }}">Media</a></td></tr></table>
      </li>
      <li>
        <table><tr><td><a {% if page.current == 'contact' %}style="border-bottom: 5px solid #71589b;"{% endif %} href="{{ '/contact.html' | prepend: site.baseurl }}">Contact</a></td></tr></table>
      </li>
    </ul>
  </nav>
  
</div>